@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    background: linear-gradient(to bottom right, #e6739f 0%, #6a097d 80%);
    /* created a gradient via the usage of linear-gradient css function, 
    and set as background-image */
    min-height: 100vh;
    min-width: 100vw;
}

.brand-name {
    display: inline-block;
    margin-left: 20px;
    font-size: 3rem;
}

.navbar-item {
    display: inline-block;
    margin-top: 20px;
    margin-left: 150px;
    padding: 10px;
}

.navbar-link {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    font-weight: 800;
}

hr {
    margin: 0 10px;
    width: 210vh;
    color: #51adcf;
}

.main-content {
    font-size: 2em;
    padding: 20px;
}

.main-content table {
    margin: auto;
    width: 1000px;
}

.quiz-data-entry {
    text-align: center;
    color: #fff;
    opacity: 0.5;
}

.quiz-data-entry a {
    color: inherit;
    text-decoration: underline;
}


.copyright-text-container {
    margin-top: 3.5%;
    font-size: 20px;
}

.copyright-text {
    display: flex;
    align-items: center;
    justify-content: center;
}