@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    background: linear-gradient(to bottom right, #e6739f 0%, #6a097d 80%);
    /* created a gradient via the usage of linear-gradient css function, 
    and set as background-image */
    min-height: 100vh;
    min-width: 100vw;
}

.non-underlined-link {
    text-decoration: none;
    color: inherit;
}

.brand-name {
    display: inline-block;
    margin-left: 20px;
    font-size: 3rem;
}

.navbar-item {
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}

.navbar-link {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    font-weight: 800;
}

hr {
    margin: 0 10px;
    width: 210vh;
    color: #51adcf;
}

.main-content {
    margin: 20px;
    width: 75%;
}

table {
    width: 120%;
    padding: 40px;
    margin: 0 auto;
}

table tr th, table tr td {
    font-size: 2em;
    padding-right: 60px;
}

table, table tr, table tr th, table tr td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.user-entry {
    font-size: 1.7em;
    text-align: center;
}

.user-entry a {
    text-decoration: none;
}

.non-user-entry {
    text-align: center;
}

.user-entry a, .non-user-entry {
    color: #333;
}

.copyright-text-container {
    margin-top: 30px;
    font-size: 20px;
}



.copyright-text {
    display: flex;
    align-items: center;
    justify-content: center;
}